* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.blocksContainer {

}

.block {
    text-align: center;
    height: 200px;
}

.block1 {
    background-color: aqua;
    height: 300px;
}

.block2 {
    background-color: lightgreen;
}

.block3 {
    background-color: lightsalmon;
}
