* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.input {
  border-radius: 10px;
  border: 1px solid #A1A1A1;
  padding: 14px;
  line-height: normal;
  background-color: rgba(255,255,255, 0.8);
  font-weight: 500;
}

.productImage {
  min-width: 262px;
  height: 262px;
  border: 2px dashed #000;
  border-radius: 10px;
  grid-row: 1 / 4;
}

.productName {
  grid-column: 2 / 4;
}

.addProductFormContainer {
  gap: 20px;
  display: grid;
  grid-template-columns: minmax(262px, 1fr) 1fr 1fr;
}

.productDescription {
  grid-column: 2 / 4;
  grid-row: 3 / 6;
}