* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flexContainer {
    border: 1px solid blue;
    display: flex;
}

.box {
    height: 300px;
    border: 1px solid black;
    flex-basis: 100px;
    flex-grow: 1;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: yellow;
}

.box3 {
    background-color: lightgreen;
}